<h1> Welcome to the Rails and Ethereum Wallet connection portal! </h1>

<h2> First, create an account with the link below to connect your Ethereum Wallet. </h2>

<%= link_to "Sign-Up", member_creation_path %>